body {
    font-family: 'Staatliches', cursive;
    font-size: larger;
    background-color: #260101;
    color: white;
    padding: 1%;
}

h1 {
    color: #9BF2EA;
}

.credit, .search {
    background-color: #275950;
    border: white solid 4px;
    padding: 1%;
}

.display {
    margin: 2%;
    border: #275950 2px solid;
    background-color: #160101;
    padding: 2%;
}