body {
    font-family: 'Staatliches', cursive;
    font-size: larger;
    background-color: #260101;
    color: white;
    padding: 1%;
}

h1 {
    color: #9BF2EA;
}

.credit {
    background-color: #275950;
    border: white solid 4px;
    padding: 1%;
}

.search {
    background-color: #272759;
    border: white solid 4px;
    padding: 1%;
}

.displaySearch {
    margin: 2%;
    background-color: #272759;
    padding: 2%;
}

.displayCredit {
    margin: 2%;
    background-color: #275950;
    padding: 2%;
}