body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: #3DD9D9;
    color: #172621;
    font-weight:bolder;
}

form {
    background-color: #172621;
    padding: 4%;
}

footer {
    background-color:#172621;
    width: 100%;
    position:fixed;
    bottom: 0;
    text-align: center;
}
